/* 每个section独立样式为'h5_page_' + uniqueClassName（传参的话） */
.h5_page_transition{
	background-color: #000;
}
/* 每个component独立样式为' h5_component_name_'+uniqueClassName */
.h5_component_name_bg{
	background-size:cover;
	border:0.16rem solid rgba(255,255,255,.8);
}