/* 雷达图组件样式 */
.h5_component_radar{
}

.h5_component_radar canvas{
    position: absolute;
    left: 0;
    top: 0; /* 用canvas做动画，会进行分层，要用到  z-index */
    width: 100%;
    height: 100%;
}

/* 文本样式 */
.h5_component_radar .text{
    position: absolute;/* 飘忽 */
    font-size: 12px;/* 字体大小 */
    transition:all 1s;/* 过渡动画 */
}