<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>table布局</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/main.css">
</head>

<body>
    <table>
        <tr>
            <td>
                <ul>
                    <li>
                        <img src="img/1-img.svg" width="40" height="40" alt="暂无">
                        <div>图片</div>
                    </li>
                </ul>
            </td>
            <td>
                <ul>
                    <li>
                        <img src="img/2-swaper.svg" width="40" height="40" alt="暂无">
                        <div>轮播图</div>
                    </li>
                </ul>
            </td>
            <td>
                <ul>
                    <li>
                        <img src="img/3-panorama.svg" width="40" height="40" alt="暂无">
                        <div>全景图</div>
                    </li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                <ul>
                    <li>
                        <img src="img/4-video.svg" width="40" height="40" alt="暂无">
                        <div>视频</div>
                    </li>
                </ul>
            </td>
            <td>
                <ul>
                    <li>
                        <img src="img/5-text.svg" width="40" height="40" alt="暂无">
                        <div>文本</div>
                    </li>
                </ul>
            </td>
        </tr>
    </table>
</body>

</html>