<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>flex自适应两列布局</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/main.css">
  </head>
  <body>
    <section class="flexbox">
      <article class="left-right">
        <div class="left">编辑器字段(Markdown)</div>
        <div class="right">
          markdown
          <div class="operate">
            <i class="add"></i>
            <i class="setup"></i>
          </div>
        </div>
      </article>
    </section>
    <section class="flexbox">
      <article class="left-right">
        <div class="left">长文本字段</div>
        <div class="right">
          textarea
          <div class="operate">
            <i class="add"></i>
            <i class="setup"></i>
          </div>
        </div>
      </article>
    </section>
    <section class="flexbox">
      <article class="left-right">
        <div class="left">文本字段</div>
        <div class="right">
          input
          <div class="operate">
            <i class="add"></i>
            <i class="setup"></i>
          </div>
        </div>
      </article>
    </section>
  </body>
</html>
